html {
  padding: 0 !important;
  margin: 0 !important;
  background-image: linear-gradient(to right bottom, #052a60, #00609d, #0095a8, #00c678, #a8eb12);
  width: 100vw;
  height: 100vh;
  font-family: Lato;
}

.container {
  position: absolute;
  left: 15vw;
}
