<!--
  Purpose: Display list of events
  Description: Will display events's title and time event will take place. If clicked, display desription.
-->
<div class="row">

  <div class="eventTitle">
    <a
      href="#"
      class="list-group-item clearfix defaultPointer eventText"
      *ngFor="let event of events"
      (click)="onSelected()">
      <h4 class="list-group-item-heading spacing">{{ event.title}}</h4>
      <h4 class="list-group-item-heading">{{ event.hour }}:{{ event.minute }}</h4>
    </a>
  </div>

  <span class="eventDescription">
    <div
      class="list-group-item clearfix defaultPointer eventText"
      *ngFor="let event of events">
      <h4 class="list-group-item-heading spacing">
        Description: <br><br>
        {{ event.description }}</h4>
    </div>
  </span>
</div>
