/* Puts space between event.title and (event.hour and event.minute) */
.spacing {
  padding-bottom: 8px;
}

.row {
  display: flex;
}

.eventTitle {
  padding-left: 2.5%;
  width: 50%;
}

.eventDescription {
  padding-left: 8px;
  width: 47%;
}
